.container__siteHeader {
	position: relative;
	z-index: 20;
}
.siteHeader {
	display: table;
	padding: 24px 10px 16px;
	margin:0 auto;
	background: #fff;
	box-shadow: 0 15px 20px 0px rgba(0,0,0,0.15);
	font: 400 16px/normal 'PT Sans';
	position: relative;
	width: 1220px;
	color: #4F4F4F;
	border-radius: 0 0 3px 3px;
	box-sizing: border-box;
	/*border: 1px solid #f2f2f2;*/
}

.siteHeader__topContainer {
	display: table-row;
}
.siteHeader__siteLogo {
	display: table-cell;
	vertical-align: middle;
	font: 700 36px/40px 'Roboto';
	color: #ff0032;
	padding: 0px 0px 0px 10px;
	text-transform: uppercase;
	white-space: nowrap;
}


.siteHeader__aboutWork {
	display: table-cell;
	vertical-align: middle;
}
.siteHeader__phone {
	color:#666;
	padding:0 10px;
	white-space:nowrap;
}
.siteHeader__workTime {
	color:#bdbdbd;
	font-size: .8em;
	padding:0 10px;
	white-space:nowrap;
}


.siteHeader__topCenter {
	display: table-cell;
	vertical-align: middle;
	width: 46%;
}
.siteHeader__genderButtons {
	font-size: 0;
	border-radius: 3px;
	box-sizing: border-box;
	border: 1px solid #dbdbdb;
	margin: 0 20px;
}
.siteHeader__genderButton {
	display: inline-block;
	font-size: 16px;
	width: 33.333%;
	text-align: center;
	line-height: 38px;
	border-radius: 3px;;
}
.siteHeader__genderButton--active {
	background: #0054a6;
	color: #fff;
}


.siteHeader__container-account {
	display: table-cell;
	vertical-align: middle;
}
.siteHeader__account {
	display: flex;
	justify-content:flex-start;
	align-items: center;
	margin: 0px 10px 0 10px;
	position: relative;
}
.siteHeader__account img {
	display: inline-block;
	padding: 0 24px
}
.siteHeader__account-content {
	display: inline-block;
	text-align: left;
	white-space: nowrap;
	padding-right: 10px;
}
.siteHeader__account-text {
	font-weight: bold;
	line-height: .9em;
}
#siteHeader__account-input {
	display: none;
}
.siteHeader__account-logIn,
.siteHeader__account-signUp {
	font-size:.77em;
	color: #0054a6;
	cursor:pointer;
} 

.siteHeader__account-logIn + span {
	font-size: .7em;
}
#siteHeader__account-input:checked ~ .siteHeader__account-autorization {
	display: block;
}
.siteHeader__account-autorization {
	display: none;
}








.siteHeader__bottomContainer {
	display: table-row;
	height: 48px;
}


.siteHeader__catalogViewer {
	display: table-cell;
	vertical-align: middle;
	height: inherit;
	padding-top: 16px;
}
.siteHeader__catalogButton {
	height:48px;
	background:#eee;
	margin:0 10px;
	display: flex;
	border-radius:3px;
	justify-content:space-between;
	align-items:center;
	transition:all .2s linear;
	cursor: pointer;
}

.siteHeader__catalogButton > span {;
	white-space: nowrap;
}
.sandwich, .sandwich > * {
    display: block;
}




.siteHeader__sandwich-line{
	width: 24px;
	height: 3px;
	display: block;
	background: currentColor;
	border-radius: 10px;
    position: relative;

}
.siteHeader__sandwich {
	display: block;
	padding: 10px;
    position: relative;
    -webkit-user-select: none;
    user-select: none;
    transition: transform 0.5s;

}
.sw-top {

    margin-bottom: 5px;
}

.sw-mid {
}

.sw-bot {
    margin-top: 5px;
}

.siteHeader__arrowDown {
	display: block;
    margin: 10px 15px 10px 10px;
    transition: transform .5s ease .3s;
}
.siteHeader__arrowDown svg {
	display: block;
	fill: currentColor;
}
#showCatalog__aDASfgFA {
	display: none;
}
.siteHeader__catalogNav {
	position: absolute;
	/*width:0%;*/
	width: calc(100% - 2px);
    left: 0;
    top: 100%;
    top: calc(100% - 16px);
    padding-top:16px;
	background: #fff;
	box-shadow: 0 15px 30px 0 rgba(0,0,0,0.15);
	opacity: 0;
	transform: translateY(10px);
	/*overflow: hidden;*/
	/*z-index: -1;*/
    transition: opacity .2s cubic-bezier(1, 0.03, 0.98, 0.54), transform .2s cubic-bezier(1, -0.14, 1, 0.16);
	border-radius: 0 0 3px 3px;
	border: 1px solid #f2f2f2;
	border-top: none;
	display: none;
}
/*  checked  */
#showCatalog__aDASfgFA:checked ~ .siteHeader__catalogNav {
	opacity: 1;
	overflow: auto;
    transform: translate3d(0px,0px,0px);
    transition: opacity .2s cubic-bezier(0, 0.8, 0.43, 1.13),transform .2s cubic-bezier(0, 0.81, 0.02, 1.09);
}
#showCatalog__aDASfgFA:checked ~ .siteHeader__catalogButton {
	background: #0054a6;
	color:#fff;
}
#showCatalog__aDASfgFA:checked ~ .siteHeader__catalogButton .siteHeader__arrowDown {
	transform: rotate(-180deg);
    transition: transform .5s ease .3s;
}
/*  checked  */
/*  hover  */
.siteHeader__catalogButton:hover  .siteHeader__catalogNav,
.siteHeader__catalogNav:hover {
	opacity: 1;
	overflow: auto;
	display: block;
    transform: translate3d(0px,0px,0px);

    transition: opacity .2s cubic-bezier(0, 0.8, 0.43, 1.13),transform .2s cubic-bezier(0, 0.81, 0.02, 1.09);
}

.siteHeader__catalogButton:hover {
	background: #0054a6;
	color:#fff;
}
.siteHeader__catalogButton:hover .siteHeader__arrowDown {
	transform: rotate(-180deg);
    transition: transform .5s ease .3s;
}
/*  hover  */

.siteHeader__yourDesign {
	display: table-cell;
	vertical-align: middle;
	padding-top: 16px;
}
.siteHeader__yourDesign a {
	line-height: 48px;
	padding: 0 10px;
	text-align: center;
	box-sizing: border-box;
	display: block;
	border-radius: 3px;
	margin: 0 10px;
	height: 48px;
	white-space: nowrap;
	border: 1px solid currentColor;
}
.siteHeader__yourDesign a:hover {
	background: #0054a6;
	border-color: #0054a6;
	color:#fff;
}
.siteHeader__search {
    height:48px;
    font: inherit;
    display: block;
    box-sizing:border-box;
    width:100%;;
}

.siteHeader__bottomCenter {
	display: table-cell;
	vertical-align: middle;
	padding: 16px 0 0;
}
.siteHeader__searchForm {
	margin: 0 20px;
}
.siteHeader__searchLabel {
	height: 48px;
    display: block;
    width: 100%;
    box-sizing: border-box;
    border-radius: 3px;
    display: flex;
    justify-content: space-around;
    align-items: center;
	background: #eee;
	padding: 0 10px;
}
.siteHeader__searchButton {
	font: inherit;
	border: none;
	background: none;
	text-transform: uppercase;
	color:#0054a6;
	display:inline-block;
	cursor: pointer;
}
.siteHeader__searchIcon {
	display: inline-block;
}
.siteHeader__searchIcon svg{
	display: block;
}
.siteHeader__searchInput {
	display:inline-block;
	width: 70%;
	box-sizing:border-box;
	border-radius:3px;
	font:inherit;
	height:100%;
	border:none;
	background:transparent;
	padding:0 10px;
}
.siteHeader__container-cart {
	display: table-cell;
	vertical-align: middle;
	padding: 16px 0 0;
}
.siteHeader__cart {
	background: #0054a6;
	border-radius: 3px;
	height: 48px;
	margin-top: 16px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin: 0 10px;
}
.siteHeader__cart > div {
}
.siteHeader__cart-iconContainer {
	padding: 0 24px;
	position: relative;
}
.siteHeader__cart-iconContainer img{
    vertical-align: middle;
}
.siteHeader__cart-text {
	color: #fff;
}
.siteHeader__cart-lotsProducts {
	display: block;
	font-weight: bold;
	white-space: nowrap;
	padding-right: 10px;
}
.siteHeader__cart-lotsProductsCount {
	display: inline-block;
    height: 1em;
    width: 24px;
    text-align: center;
    position: absolute;
    top: 0;
    left: 5px;
    right: 0px;
    bottom: 9px;
    margin: auto;
    font-size: 13px;
}
.siteHeader__cart-cost {
	display: block;
}


@media (max-width: 1250px) {
	.siteHeader {
		width: 100%;
	}
}



.headerCatalog {
	line-height:5;
	color: #828282;
}
.headerCatalog__ul {
	padding:30px;
	box-sizing: border-box;
	display: table;
	width: 100%;
}
.headerCatalog__li {
	display: table-row;
}
.headerCatalog__li a {
    white-space: nowrap;
	display: table-cell;
    width: 25%;
}
.headerCatalog__li-icon{
	width: 48px;
	height: 48px;
	vertical-align: middle;
	display: inline-block;
	fill: rgba(0, 84, 166, 0.3);
	padding: 0 24px;
}
.headerCatalog__li a:hover .headerCatalog__li-icon {
	fill: #0054a6;
}
.headerCatalog__li a:hover {
	color:black;
}
.headerCatalog__li-text {
	vertical-align: middle;
}.autorization [data-style="inputText"] {
    text-align: center;
    margin:10px;
    position: relative;
    height: 48px;
    font-family: 'Roboto';
    color:#0054a6;
    font-size: 14px;;;;;
}
.autorization [data-style="inputText"] input,
.autorization [data-style="inputText"] input + label {
    line-height: 24px;
}
.autorization [data-style="inputText"] input{
    height: inherit;
    color:#666;
    font-size: inherit;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    border-radius: 3px;
    border: 1px solid #0054a6;
    outline: none;
    text-align: center;
}

.autorization [data-style="inputText"] input + label {
    position: absolute;
    top: 50%;
    margin-top:-.5em;
    line-height:1em;
    z-index:1;
    left: 0;
    right: 0;
    display: block;
    text-align: center;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
    cursor: text;
}
.pretension__input--error {
    border: 1px solid #ff0037;
}

.autorization [data-style="inputText"] input[disabled] {
    background: #eee;
    border: 1px solid #dbdbdb;
}
.autorization [data-style="inputText"] input:focus + label{
    font-size: .7em;
    top: 10px;
}
.autorization [data-style="inputText"] input.active + label{
    font-size: .7em;
    top: 10px;
}




[data-style="button"].data-style-button-autorization {
    margin: 10px;
    text-align: center;
    font-size: 14px;
    font-weight: 300;
    stroke:#fff;
    fill:#fff;
}
[data-style="button"].data-style-button-autorization button {
    font-size: 1em;
    font-weight: inherit;
    color: inherit;
    padding: 0 5px;
    margin: 0;
    border-radius: 3px;
    background: #ff0037;
    display: block;
    width: 100%;
    outline: none;
    border: none;
    cursor: pointer;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
[data-style="button"].data-style-button-autorization button:hover {
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
}

[data-style="button"].data-style-button-autorization button:active {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
}
[data-style="button"].data-style-button-autorization button > span{
    padding: 0px 15px;
    line-height: calc(1.61em * 2);
    display: inline-block;
    vertical-align: middle;
}



@media screen and (max-width:450px) {
    [data-style="button"].data-style-button-autorization button {
        padding: 10px;
    }
    [data-style="button"].data-style-button-autorization button > span {
        line-height: calc(1.61em);
    }
}

























.autorization {
    position: absolute;
    background: #fff;
    box-shadow: 0 4px 15px 0 rgba(0,0,0,0.15);
    right:-1px;
    z-index: 20;
    min-width:260px;
    border: 1px solid #f2f2f2;
    border-radius: 3px;
    top: 120%;
    padding: 10px;
}

.autorization:before {
    content:'';
    position: absolute;
    top:0;

}
.autorization--upTringle {
    display: block;
    position: relative;
    top: -17px;
}
.autorization--upTringle:before,
.autorization--upTringle:after {
    content:'';
    display: block;
    position: absolute;
    left:0;
    right:0;
    margin:auto;
    border:8px solid transparent;
    border-top:0;
}
.autorization--upTringle:before {
    border-bottom-color:#f2f2f2;
    width:0;
    top:-1px;
}
.autorization--upTringle:after {
    border-bottom-color:#fff;
    width:0;

}


.autorization-head {
    text-align: center;
    font-size: 1.3em;
    font-weight: bold;
    padding: 10px 10px 5px;
}


.autorization__buttons {
    display: table;
    width: 100%;
    box-sizing: border-box;
    max-width: 100%;
}
.autorization__buttonsContainer {
    display: table-row;
}
.autorization__buttonsContainer > div {
    display: table-cell;
    padding: 10px;
    text-align: center;
}




[data-style="button"].data-style-button-autorization {
    color: #333;
}
.autorization__buttonsContainer > div:nth-of-type(1) button {
    background: #E0E0E0;
    text-align: center;
}

.autorization__buttonsContainer > div:nth-of-type(2) button {
    background: #0054a6;
    color: #fff;
}
.autorization__buttonsContainer > div:nth-of-type(2) button {
}
.autorization-getPass {
    text-align: center;
    color:#0054a6;
    font-size: .8em;
}







/*    АНИМАЦИЯ 0    */
/*    АНИМАЦИЯ 0    */
/*    АНИМАЦИЯ 0    */
/*    АНИМАЦИЯ 0    */
/*    АНИМАЦИЯ 0    */
.sandwich.animation0 .sw-top {
    transition: transform 0.5s, top 0.2s;
}

.sandwich.animation0 .sw-mid {
    transition: transform 0.5s, top 0.2s;
    transition-delay: 0.2s, 0s;
}

.sandwich.animation0 .sw-bot {
    transition: opacity 0.5s,transform 0.5s;
    transition-delay: 0.1s;
}
/*  checked  */
#showCatalog__aDASfgFA:checked ~ .siteHeader__catalogButton .sandwich.animation0 .sw-top {
    transform: rotate(135deg) translate(6px, -5.3px);
}

#showCatalog__aDASfgFA:checked ~ .siteHeader__catalogButton .sandwich.animation0 .sw-mid {
    transform: rotate(-135deg) translate(0px, 0px);
}

#showCatalog__aDASfgFA:checked ~ .siteHeader__catalogButton .sandwich.animation0 .sw-bot {
    opacity: 0;
    transform: rotate(180deg) translate(0px, 0px);
}

/*  checked  */
/*  hover  */
.siteHeader__catalogButton:hover .sandwich.animation0 .sw-top {
    transform: rotate(135deg) translate(6px, -5.3px);
}

.siteHeader__catalogButton:hover .sandwich.animation0 .sw-mid {
    transform: rotate(-135deg) translate(0px, 0px);
}

.siteHeader__catalogButton:hover .sandwich.animation0 .sw-bot {
    opacity: 0;
    transform: rotate(180deg) translate(0px, 0px);
}

/*  hover  */



.sandwich.animation1 .sw-top, .sandwich.animation1 .sw-bot {
    transition: all .5s ease;
    left:0;
}
.sandwich.animation1 .sw-mid {
    transition: all .5s ease .3s;
}

#showCatalog__aDASfgFA:checked ~ .siteHeader__catalogButton .sandwich.animation1 .sw-top,#showCatalog__aDASfgFA:checked ~ .siteHeader__catalogButton  .sandwich.animation1 .sw-bot {
    transition: all .5s ease .3s;    
}

#showCatalog__aDASfgFA:checked ~ .siteHeader__catalogButton .sandwich.animation1 .sw-top {
    width:15px;
    transform: rotate(-45deg) translate(-4px, 1px);
}

#showCatalog__aDASfgFA:checked ~ .siteHeader__catalogButton .sandwich.animation1 .sw-mid {
    transform: rotate(180deg);
    transition: all .5s ease;
    -webkit-animation: revers 1s ease;
    animation: revers 1s ease;
}

#showCatalog__aDASfgFA:checked ~ .siteHeader__catalogButton .sandwich.animation1 .sw-bot {
    width:15px;
    transform: rotate(45deg) translate(-4px, -1px);
}
@keyframes revers {
    0% {
        transform: rotate(0deg) translateX(0px);
    }

    50% {
        transform: rotate(180deg) translateX(-10px);
    }

    100% {
        transform: rotate(180deg) translateX(0px);
    }
}.siteHeader__underHeader {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 1180px;
	height: 48px;
	margin: auto;
	box-sizing: border-box;
	font: 400 14px/normal 'PT Sans';
	z-index: -3;
	position: relative;
	background: #f2f2f2;
	border-radius: 0 0 3px 3px;
}

.siteHeader__underHeader-previewAction {
	height: inherit;
	width:23.852%;
	background: url(images/miniBanner.png) no-repeat center center;
	border-radius: 0 0 3px 3px;
}
.siteHeader__underHeader-siteNav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: calc(100% - 24.852%);
	color:#828282;
	height: inherit;
	font-size: 14px;
}
.partner:nth-of-type(1) {
	display: inline;
}
.partner:nth-of-type(2) {
	display: none;
}
@media (max-width: 1150px) {
	.partner:nth-of-type(1) {
		display: none;
	}
	.partner:nth-of-type(2) {
		display: inline;
	}
	.siteHeader__underHeader-siteNav {
		width: calc(100% - 23.852%);
	}
}

.siteHeader__underHeader-siteNav svg{
    width: 1.5em;
    height: 1.5em;
    display: inline-block;
    vertical-align: middle;
}
.siteHeader__underHeader-siteNav li:nth-of-type(2n) {
	cursor: default;
}
.siteHeader__underHeader-siteNav li:nth-of-type(2n + 1) > * {
	border-bottom: 2px solid transparent;
	transition: transform .2s ease;
	padding: 5px 7px 3px;
}
.siteHeader__underHeader-siteNav > li:nth-last-of-type(2n + 3) > *:hover {
	border-bottom: 2px solid #0054a6;
}
.siteHeader__underHeader-siteNav li:nth-of-type(1) > * {
	margin-left: 10px;
}



/* Последний li */
.siteHeader__underHeader-siteNav li:nth-last-of-type(1) {
	height: inherit;
}
.siteHeader__underHeader-whereMyPost {
	color: #0054a6;
	fill:currentColor;
	display:inline-block;
	position: relative;
	vertical-align: middle;
	border: 1px solid transparent;
	border-bottom: 0;
	border-top: 0;
	padding: 0 20px 0 10px !important;
	height: inherit;

}
.siteHeader__underHeader-whereMyPost--label {
	vertical-align: middle;
}
@media (max-width: 1150px) {
.siteHeader__underHeader-whereMyPost {
	padding: 0 10px 0 10px !important;

}
}
.siteHeader__underHeader-whereMyPost:hover {
	background: #fff;
	border-color: #bdbdbd;
}
.siteHeader__underHeader-whereMyPost ul {
	position: absolute;
	display: none;
	top: 100%;
	width: 100%;
	left: -1px;
	border: 1px solid #bdbdbd;
	border-top: none;
}

.siteHeader__underHeader-whereMyPost:hover ul {
	display: block;
	border-radius: 0 0 3px 3px;
	padding-bottom: 10px;
}
.siteHeader__underHeader-whereMyPost ul li{
	padding: 5px 0 3px;
	margin: 0 10px;
	color: black;
	text-align: left;
}

.siteHeader__underHeader-whereMyPost:hover ul li:first-child{
	border-top:1px solid #bdbdbd;
	padding-top:10px;
}

.siteHeader__underHeader-whereMyPost:hover ul li a {
	margin:0;
	padding: 0;
	display: block;
}

.siteHeader__underHeader-whereMyPost:hover ul li span{
	display: inline-block;
	border-bottom: 2px solid transparent;
	margin:0;
	padding: 0;

}
.siteHeader__underHeader-whereMyPost:hover ul li:hover span{
	border-color: #0054a6;
}





.siteHeader__underHeader-siteNav .likedProducts {
	display: inline-block;
	position: relative;
}
.siteHeader__underHeader-siteNav .likedProducts svg {
	fill: #0054a6;
}

.siteHeader__underHeader-siteNav .likedProducts__count {
	position: absolute;
	top:0;
	left:0;
	right:0;
	bottom:25%;
	margin:auto;
	height:1em;
	text-align: center;
	width:inherit;
	font-size: .7em;
	color:#fff;
}
.sale {
	color:#0054a6;
}
.city svg {
	width: 1.3em;
	height: 1.3em;
	fill:#0054a6;
}


@media (max-width: 1220px) {
	.siteHeader__underHeader {
		width: calc(100% - 40px);
		margin: 0px 20px;
	}
}





